
.thx-form {
    width: 90%;
    margin: 10px 10px 10px 0px;
    padding: 0;
    display: flex;
}

input {
    width: 100%;
    padding: 10px;
}

.form-outer {
    color: #fff;
    background-image: linear-gradient(217deg, #DBFF71, #FF9900 70.71%);
}
